

<h1 class="margin-title-lg">My Trips</h1>

<div data-controller="switch-tabs">
  <div class="cust-container">
    <div class="d-flex mb-3">
      <button class="trip-category-select active me-2" data-action="click->switch-tabs#upcoming" data-switch-tabs-target="upcomingbutton"><h4 class="mb-1">Upcoming</h4></button>
      <button class="trip-category-select" data-action="click->switch-tabs#past" data-switch-tabs-target="pastbutton"><h4 class="mb-1">Past</h4></button>
    </div>
  </div>


  <div id="upcoming-trips" class="cards" data-switch-tabs-target="upcomingtrips">
    <% if @upcoming_trips.empty? %>
      <p>You do not have any upcoming trips.</p>
    <% else %>
      <% @upcoming_trips.each do |trip| %>

        <div class="card-wrapper">
          <%= link_to trip_path(trip), class:"card my-card-link" do %>
            <div class= "image-container">
              <%= cl_image_tag trip.trail.photos.first.key, class: "rounded-3 card-image", alt: "trail picture" %>
              <div class="trip-date py-1 px-2 rounded"><%= trip.date.strftime('%-d %b %Y') %></div>
            </div>
            <div class ="card-body title-body d-flex align-items-start">
              <div class="title-rating pt-2 mt-0">
                <h5 class="card-title">
                  <%= trip.trail.name %>
                </h5>
              </div>
              <div class="d-flex pt-2 align-items-center ms-1">
                <div class="card-text mb-0 d-flex align-items-center">
                  <% unless trip.trail.reviews.empty? %>
                    <p class="mb-0"><%=trip.trail.rating.round(1)%></p>
                    <i class="fa-solid fa-star ms-1 mb-1"></i>
                  <% end %>
                </div>
              </div>
            </div>

            <div class = "card-body">
              <p class="card-text"><i class="fa-solid fa-location-pin mb-2"></i> <%= trip.trail.location %></p>
            </div>
            <div class="card-body">
              <p class="card-text"><i class="fa-solid fa-person-hiking"></i> <%= trip.trail.difficulty %>&nbsp;&nbsp;&nbsp;
              <i class="fa-solid fa-arrows-left-right"></i> <%= trip.trail.distance %> km&nbsp;&nbsp;&nbsp;
              <i class="fa-regular fa-clock"></i></i>
              <% hour = (trip.trail.duration / 60).to_i %>
              <% minutes = (trip.trail.duration % 60).to_i %>
              <% if hour == 00 %>
                <%= minutes %>m
              <% elsif minutes < 10 %>
                <%= hour %>h 0<%= minutes %>m
              <% else %>
                <%= hour %>h <%= minutes %>m
              <% end %>
              </p>
            </div>

          <% end %>
        </div>

      <% end %>
    <% end %>
  </div>



  <div id="past-trips" class="cards d-none" data-switch-tabs-target="pasttrips">
    <% if @past_trips.empty? %>
      <p>You do not have any past trips.</p>
    <% else %>
      <% @past_trips.each do |trip| %>

        <div class="card-wrapper">
          <%= link_to trip_path(trip), class:"card my-card-link" do %>
            <div class= "image-container">
              <%= cl_image_tag trip.trail.photos.first.key, class: "rounded-3 card-image", alt: "trail picture" %>
              <div class="trip-date py-1 px-2 rounded"><%= trip.date.strftime('%-d %b %Y') %></div>
            </div>
            <div class ="card-body title-body d-flex align-items-start">
              <div class="title-rating pt-2 mt-0">
                <h5 class="card-title">
                  <%= trip.trail.name %>
                </h5>
              </div>
              <div class="d-flex pt-2 align-items-center ms-1">
                <div class="card-text mb-0 d-flex align-items-center">
                  <% unless trip.trail.reviews.empty? %>
                    <p class="mb-0"><%=trip.trail.rating.round(1)%></p>
                    <i class="fa-solid fa-star ms-1 mb-1"></i>
                  <% end %>
                </div>
              </div>
            </div>

            <div class = "card-body">
              <p class="card-text"><i class="fa-solid fa-location-pin mb-2"></i> <%= trip.trail.location %></p>
            </div>
            <div class="card-body">
              <p class="card-text"><i class="fa-solid fa-person-hiking"></i> <%= trip.trail.difficulty %>&nbsp;&nbsp;&nbsp;
              <i class="fa-solid fa-arrows-left-right"></i> <%= trip.trail.distance %> km&nbsp;&nbsp;&nbsp;
              <i class="fa-regular fa-clock"></i></i>
              <% hour = (trip.trail.duration / 60).to_i %>
              <% minutes = (trip.trail.duration % 60).to_i %>
              <% if hour == 00 %>
                <%= minutes %>m
              <% elsif minutes < 10 %>
                <%= hour %>h 0<%= minutes %>m
              <% else %>
                <%= hour %>h <%= minutes %>m
              <% end %>
              </p>
            </div>

          <% end %>
        </div>

      <% end %>
    <% end %>
  </div>

</div>
