<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>

<h1 class="font-bold text-2xl">Task Manager</h1>

<div class="mt-4">
  <%= simple_form_for[@trip, @task] do |f| %>
    <%= f.input :description,
                placeholder: "Add new task",
                input_html: { class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96"} %>
    <%= f.submit "Save", class: "btn py-2 ml-2 bg-blue-600 text-white" %>
  </div>
<% end %>
</div>

<div id="tasks">
  <h1 class="font-bold text-lg mb-7">Tasks</h1>

  <div class="px-5">
    <div class="block mb-2">
    <% @trip.tasks.each do |task| %>
  <%= task.description %>
  <% end  %>
</div>
  </div>
</div>
