<div class="check-list">
<div>
  <%= form_with(model: task) do |form| %>
      <%= form.check_box :completed,
                        data: {
                          id: task.id,
                          action: "tasks#toggle"
                        },
                        class: "form-check-input" %>
                        </div>

      <%= task.description %>
    <% end %>
    <%# <%= link_to "Edit", edit_task_path(task),
                class: "btn bg-gray-100"%>
    <%# <div class="inline-block ml-2">
      <%= link_to "Delete list", task_path(task), :class => "btn btn-success", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

    <%# <%= button_to "Delete", task_path(task),
                    method: :delete,
                    data: { action: "tasks#delete" },
                    class: "btn bg-red-100" %>
</div>
