<div class="cards">
  <% @trails.each do |trail| %>
  <div class="card-wrapper" data-controller="favourite" data-favourite-trail-value="<%= trail.id %>">
    <%# Bookmark %>
    <%= link_to toggle_favorite_trail_path(trail), data:{turbo_method: :post, action: "click->favourite#bookmarked" } do %>
      <% if user_signed_in? %>
        <% if current_user.favorited?(trail) %>
          <i class="fa-regular fa-bookmark fw-bold"></i>
        <% else %>
          <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% else %>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>
    <% end %>

    <%# trail %>
    <%= link_to trail, class:"card my-card-link" do %>
      <div class= "image-container">
        <%= cl_image_tag trail.photos.first.key, class: "rounded-3 card-image", alt: "trail picture" %>
        <%# <img src="https://lonelyplanetimages.imgix.net/a/g/hi/t/a2aa48e66952bf8816898991072e32f5-macritchie-reservoir.jpg" alt="trail picture" class="rounded-3 card-image"> %>
      </div>
      <div class ="card-body title-body d-flex align-items-start">
        <div class="title-rating pt-2 mt-0">
          <h5 class="card-title">
            <%= trail.name %>
          </h5>
        </div>
        <div class="d-flex pt-2 align-items-center ms-1">
          <div class="card-text mb-0 d-flex align-items-center">
            <% unless trail.reviews.empty? %>
              <p class="mb-0"><%=trail.rating.round(1)%></p>
              <i class="fa-solid fa-star ms-1 mb-1"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class = "card-body">
        <p class="card-text"><i class="fa-solid fa-location-pin mb-2"></i> <%= trail.location %></p>
      </div>
      <div class="card-body">
        <p class="card-text"><i class="fa-solid fa-person-hiking"></i> <%= trail.difficulty %>&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-arrows-left-right"></i> <%= trail.distance %> km&nbsp;&nbsp;&nbsp;
        <i class="fa-regular fa-clock"></i></i>
        <% hour = (trail.duration / 60).to_i %>
        <% minutes = (trail.duration % 60).to_i %>
        <% if hour == 00 %>
          <%= minutes %>m
        <% elsif minutes == 0 %>
          <%= hour %>h
        <% elsif minutes < 10 %>
          <%= hour %>h 0<%= minutes %>m
        <% else %>
          <%= hour %>h <%= minutes %>m
        <% end %>
        </p>

      </div>

    <% end %>
  </div>

  <% end %>
</div>
