<div class="topnav" id="myTopnav">
  <%= link_to "/trails#trails" do %>
    <img src="https://res.cloudinary.com/ddaoe4tdm/image/upload/v1669529625/taketrails_%E3%82%A2%E3%83%BC%E3%83%88%E3%83%9C%E3%83%BC%E3%83%89_1_1_ui5jmp.png" width="150px">
  <% end %>
  <a href="#" class="nav-primary">ABOUT US</a>
  <%= link_to "ALL TRAILS", "/trails#trails"%>
  <% if user_signed_in? %>
  <%= link_to "MY BOOKMARKS", bookmarks_path%>
  <%= link_to "MY TRIPS", trips_path%>
  <% else %>
      <% end %>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>

  <%= link_to new_user_session_path do %>
      <div class="user-login"><i class="fa-regular fa-user"></i> &nbsp;LOG IN/SIGN UP</div>
<% end  %>
</div>
