
  <div class="nav-bar main-nav" data-spy="affix" data-offset-top="0">
    <div class="nav-logo"></div>
    <div class="nav-primary">
      <div class="p5"><a href="#">ABOUT US</a></div>
      <div class="p5"> <%= link_to "ALL TRAILS", trails_path%></div>
      <% if user_signed_in? %>
      <div class="p5"><%= link_to "MY BOOKMARKS", bookmarks_path%></div>
      <div class="p5"><%= link_to "MY TRIPS", trips_path%></div>
      <% else %>
      <% end %>
    </div>

    <%# user-related links %>
    <% if user_signed_in? %>


      <div class="nav-user">
        <div class="avatar-text">Welcome, <%= current_user.first_name %>  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %> </div>
        <div class="user-login"><%= link_to "LOG OUT", destroy_user_session_path, data: {turbo_method: :delete}, class: "user-login" %></div>
      </div>
    <% else %>



    <div class="nav-user">
      <div class="p5-sign" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvassignup" aria-controls="offcanvasRight">
      <span class="">SIGN UP</span></div>
      <div class="user-login" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-regular fa-user"></i> &nbsp;LOG IN</div>
      </div>
    </div>
    <% end %>
  </div>
