
  <div class="main-nav">
    <div class="nav-logo">Take Trails</div>
    <div class="nav-primary">
      <div class="p5"><a href="#">ABOUT US</a></div>
      <div class="p5"> <%= link_to "ALL TRAILS", trails_path%></div>
      <div class="p5"><%= link_to "MY BOOKMARKS", bookmarks_path%></div>
      <div class="p5"><%= link_to "MY TRIPS", trips_path%></div>
    </div>
    <div class="nav-user">
      <div class="p5"><%= link_to "SIGN UP", new_user_registration_path%></div>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="form-container">
  <h2 class="text-center">Welcome back</h2>
  <h6 class="login-text">Enter your login details below.</h6>
</div>


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
  <div class="form-inputs text-input-label form-floating">
    <%= f.input :email,
                required: false,
                label: false,
                autofocus: true,
                placeholder: "EMAIL",
                input_html: { autocomplete: "email", class: "border-0 rounded-0 label-style" }%>
    <%= f.input :password,
                required: false,
                label: false,
                placeholder: "PASSWORD",
                input_html: { autocomplete: "current-password", class: "border-0 rounded-0 label-style" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable?%>

    <%= f.button :submit, "SIGN IN", class: "login-btn border-0" %>

  </div>


<% end %>

<div class="text-input-label devise-links">
   <%= render "devise/shared/links" %>
</div>

</div>
</div>
  </div>
</div>


<%# header image %>
<nav data-spy="scroll" data-target="#jump" data-offset="50">
  <section class="hero image-as-background container-fluid" style="background-image: url('https://images.unsplash.com/photo-1626568767524-50b13c293a6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80');">
    <div class="hero-container">
      <div class="hero-title animate fadeInLeft delay-600 d-flex">
        Find a new adventure
      </div>
      <div class="d-flex justify-content-center" id="jump">
        <a href="#trails" class="hero-button animate fadeInLeft delay-800" title="Click to see more">EXPLORE</a>
      </div>
    </div>
  </section>
</nav>
