
<% if current_user  %>
<%= render "shared/navbar2" %>
<% else  %>
<%= render "shared/navbar" %>
<% end %>

<%# search form %>



<%# <%= form_with url: trial_path, method: :get, do %>
  <%# <%= form.select :difficulty_level,
    options_for_select(Trail::DIFFICULTIES),
    { include_blank: 'All Trails' },
    class: "border-blue-500 rounded",

  %>
   <%# <%= submit_tag "Search", class: "btn btn-primary" %>
<!-- Snip the search input -->
<%# <% end %>
<%# <%= link_to "Easy", trails_path(Trail::DIFFICULTIES =>"Easy") %>
<%# <%= link_to "Intermediate", trails_path(Trail::DIFFICULTIES =>"Intermediate") %>
<%# <%= link_to "Difficult", trails_path(Trail::DIFFICULTIES =>"Difficult") %>
<%# <%= link_to "clear", trails_path(@trails) %>
<%# <table>
<tr>
  <th>Trails</th>
  <th>Difficulty Level</th>
</tr>
<% @trails.each do |trail| %>
<%# <tr>
  <td><%= trail.name %>
  <%# <td><%= trail.difficulty %>
<%# </tr>
<% end %>
<%# </table> %>


<%# <div class="container">
<h3>Search by:</h3>
<%= form_tag(trails_path, method: :get) do %>
<%# <select name=trails[:name], class="form-control">
  <option value="None">-Select-</option>
  <option value="Easy">Easy</option>
  <option value="Intermediate">Intermediate</option>
  <option value="Difficult">Difficult</option>
</select><br><br>
<% end %>

<%# <div class="field">
<%= form_tag(url: trails_path, method: :get) do %>
  <%# <%= label_tag :difficulty,  %>
  <%# <%= select_tag :difficulty, Trail.difficulties.keys %>
  <%# <%= submit_tag 'Filter' %>
<%# <% end %>
<%# </div> %>

<%# <%= form_tag(url: trails_path, method: :get) do %>
  <%# <div class="input-group">
    <%= select_tag :difficult, options_for_select(:difficult) %>
    <%# <%= submit_tag 'Filter' %>
  <%# </div>
<% end %>

<%# <%= simple_form_for :search, url: trails_path, method: "GET" do |f| %>
  <%# <%= f.input :difficulties, label: "Difficulty level",  collection: $difficulties, as: :check_boxes %>
  <%# <%= f.input :duration, label: "Duration", collection: $duration, as: :check_boxes %>
  <%# <%= f.submit "Search", class: "btn btn-primary" %>
  <%# <%= link_to "Reset", root_path  %>
<%# <% end %>

<%# <div class="search-bar d-flex pb-3">
  <%= form_with url: trails_path, method: :get, class: "d-flex" do %>
    <%# <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a trail"
    %>
    <%# <%= submit_tag "Search", class: "btn btn-primary" %>
  <%# <% end %>
<%# </div> %>

<%# <%= simple_form_for :search, url: trails_path, method: "GET" do |f| %>
  <%# <%= f.input :difficulties, label: "Difficult level", collection: Trail.difficulties.keys, as: :check_boxes,  include_hidden: false %>
  <%# <%= f.submit "Search", class: "btn btn-primary" %>
  <%# <%= link_to "Reset", root_path %>
<%# <% end %>


<%= simple_form_for :search, url: trails_path, method: "GET" do |f| %>
  <%= f.input :query, label: "Search", :input_html => { :class => 'form-control' } %>
  <%= f.input :difficulties, label: "Difficult level", collection: Trail.difficulties.keys, as: :check_boxes,  include_hidden: false %>
  <%= f.submit "Search", class: "btn btn-primary" %>
  <%= link_to "Reset", root_path %>
<% end %>

<%= simple_form_for :search, url: trails_path, method: "GET" do |f| %>
  <%= f.input :distance, collection: Trail::DISTANCE_MAP.keys, as: :check_boxes, include_hidden: false %>
  <%= f.submit "Search", class: "btn btn-primary" %>
  <%= link_to "Reset", root_path %>
<% end %>

<%= simple_form_for :search, url: trails_path, method: "GET" do |f| %>
  <%= f.input :duration, collection: Trail::DURATION_MAP.keys, as: :check_boxes,  include_hidden: false %>
  <%= f.submit "Search", class: "btn btn-primary" %>
  <%= link_to "Reset", root_path %>
<% end %>

<%# <%= f.input :some_field, :collection => Model::HASH_NAME.sort.map {|k,v| [v,k]} %>
<%# <div class="field">
<%= form_tag(url: trails_path, method: :get) do %>
  <%# <%= label_tag :distance,  %>
  <%# <%= select_tag :distance, Trail.difficulties.keys %>
  <%# <%= submit_tag 'Filter' %>
<%# <% end %>
<%# </div> %>


<%# <h1> Find your next hike ...</h1>
<h1 class="margin-title-lg"> Find your next hike ...</h1> %>


<%# <%= form_with url: trial_path, method: :get, do %>
  <%# <%= form.select :difficulty_level,
    options_for_select(Trail::DIFFICULTIES),
    { include_blank: 'All Trails' },
    class: "border-blue-500 rounded",

  %>
   <%# <%= submit_tag "Search", class: "btn btn-primary" %>
<!-- Snip the search input -->
<%# <% end %>
<%# <%= link_to "Easy", trails_path(Trail::DIFFICULTIES =>"Easy") %>
<%# <%= link_to "Intermediate", trails_path(Trail::DIFFICULTIES =>"Intermediate") %>
<%# <%= link_to "Difficult", trails_path(Trail::DIFFICULTIES =>"Difficult") %>
<%# <%= link_to "clear", trails_path(@trails) %>
<%# <table>
<tr>
  <th>Trails</th>
  <th>Difficulty Level</th>
</tr>
<% @trails.each do |trail| %>
<%# <tr>
  <td><%= trail.name %>
  <%# <td><%= trail.difficulty %>
<%# </tr>
<% end %>
<%# </table> %>


<%# <div class="container">
<h3>Search by:</h3>
<%= form_tag(trails_path, method: :get) do %>
<%# <select name=trails[:name], class="form-control">
  <option value="None">-Select-</option>
  <option value="Easy">Easy</option>
  <option value="Intermediate">Intermediate</option>
  <option value="Difficult">Difficult</option>
</select><br><br>
<% end %>

<%# <div class="field">
<%= form_tag(url: trails_path, method: :get) do %>
  <%# <%= label_tag :difficulty,  %>
  <%# <%= select_tag :difficulty, Trail.difficulties.keys %>
  <%# <%= submit_tag 'Filter' %>
<%# <% end %>
<%# </div> %>

<%# <%= form_tag(url: trails_path, method: :get) do %>
  <%# <div class="input-group">
    <%= select_tag :difficult, options_for_select(:difficult) %>
    <%# <%= submit_tag 'Filter' %>
  <%# </div>
<% end %>

<%# <%= simple_form_for :search, url: trails_path, method: "GET" do |f| %>
  <%# <%= f.input :difficulties, label: "Difficulty level",  collection: $difficulties, as: :check_boxes %>
  <%# <%= f.input :duration, label: "Duration", collection: $duration, as: :check_boxes %>
  <%# <%= f.submit "Search", class: "btn btn-primary" %>
  <%# <%= link_to "Reset", root_path  %>
<%# <% end %>
<%#
<%= simple_form_for :search, url: trails_path, method: "GET" do |f| %>
  <%# <%= f.input :difficulty_levels, label: "Difficult level", collection: Trail.difficulty_levels.keys, as: :check_boxes,  include_hidden: false %>
  <%# <%= f.submit "Search", class: "btn btn-primary" %>
  <%# <%= link_to "Reset", root_path %>
<%# <% end %>

<h1 class="margin-title-lg" id="scrollspycontent"> Find your next hike ...</h1>
<%= render 'shared/cards' %>
