
<% if current_user  %>
<%= render "shared/navbar2" %>
<% else  %>
<%= render "shared/navbar" %>
<% end %>


<%# search form %>
<%= form_with url: trails_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a trail"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<h1 class="margin-title-lg" id="scrollspycontent"> Find your next hike ...</h1>


  <div class="cards">
    <% @trails.each do |trail| %>
      <%= link_to trail, class:"card my-card-link" do %>
        <div class ="card-body title-body">

          <div class="title-rating pt-2">
            <h5 class="card-title">
            <% if trail.name.length > 28 %>
              <p><%= trail.name.slice(0..26)... %></p>
            <% else %>
              <p><%= trail.name %></p>
            <% end %>
            </h5>

            <p class="card-text"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
          </div>
          <p><i class="fa-regular fa-bookmark"></i></p>
        </div>

        <%# <div style="height: 200px; width: 300px; background-position: center; background-repeat: no-repeat; background-size: cover; background-image: url('https://lonelyplanetimages.imgix.net/a/g/hi/t/a2aa48e66952bf8816898991072e32f5-macritchie-reservoir.jpg')">
        </div> %>
        <div class= "image-container">
          <img src="https://lonelyplanetimages.imgix.net/a/g/hi/t/a2aa48e66952bf8816898991072e32f5-macritchie-reservoir.jpg" alt="trail picture" class="rounded-3 card-image">
        </div>
        <div class="card-body">
          <p class="card-text"><i class="fa-solid fa-person-hiking"></i> <%= trail.difficulty %></p>
          <p class="card-text"><i class="fa-regular fa-clock"></i></i>
          <% hour = (trail.duration / 60).to_i %>
          <% minutes = (trail.duration % 60).to_i %>
          <% if hour == 00 %>
            <%= minutes %>m
          <% elsif minutes < 10 %>
            <%= hour %>h 0<%= minutes %>m
          <% else %>
            <%= hour %>h <%= minutes %>m
          <% end %>
          </p>

        </div>
      <% end %>
    <% end %>
  </div>
