
<% if current_user  %>
<%= render "shared/navbar2" %>
<% else  %>
<%= render "shared/navbar" %>
<% end %>


<%# search form %>
<%= form_with url: trails_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a trail"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<h1 class="margin-title-lg" id="scrollspycontent"> Find your next hike ...</h1>
<%= render 'shared/cards' %>
