<%= render "shared/navbar2" %>

<div class="container mb-3 pt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1><strong><%= @trail.name %></strong></h1>
    <div id="add-trip" data-controller="display-form">
      <div class="custom-btn-circle border border-2 border-dark d-flex justify-content-center align-items-center mx-2" data-action="click->display-form#display">
        <i class="fa-solid fa-plus"></i>
      </div>
      <%= simple_form_for [@trail, trip], html: {data: {controller: 'flatpickr', turbo: false, display_form_target: "form"}, id: :date_card, class: "#{trip.errors.any? ? "" : "d-none"} bg-white border p-3"} do |f| %>
        <%= f.label :date, 'Set a date/time', class: "d-block mb-1" %>
        <%# <div class="d-flex my-2"> %>
          <%#= f.input_field :date, class:"mx-1", start_year: Date.today.year, minute_step: 15, ampm: true %>
        <%# </div> %>
        <%= f.input_field :date, as: :string, id: :date_input, class: "mb-1", data: { flatpickr_target: "date" }, placeholder: "Click to select a date/time" %>
        <% if trip.errors.any? %>
          <ul class="list-inline mb-0">
              <% trip.errors.full_messages.each do |message| %>
                  <li class="text-danger list-inline-item fs-6 mb-0 ms-1 mt-1"><%= message %></li>
              <% end %>
          </ul>
        <% end %>
        <%= f.button :submit, class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <%= link_to trails_path, class: "text-decoration-none text-dark mx-2" do %>
      <div class="custom-btn-circle border border-2 border-dark d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
    <% end %>
    <a class="text-decoration-none text-dark" href="#">
      <div class="d-flex justify-content-center align-items-center mx-2">
        <i id="bookmark" class="fa-regular fa-bookmark"></i>
      </div>
    </a>
    <a class="text-decoration-none text-dark" href="#">
      <div class="d-flex justify-content-center align-items-center mx-2">
        <i id="friends" class="fa-solid fa-users"></i>
      </div>
    </a>
  </div>
</div>

<section class="container mb-4">
  <div class="row mb-4">
    <div class="col-12 col-lg-6">
      <img class="img-fluid custom-img-rounded mb-3" src="https://www.roverista.com/img/article/27_1.jpg" alt="">
      <p><%= @trail.description %></p>
    </div>

    <div class="col-12 col-lg-6 py-2">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 flex-column">
          <div class="mb-4">
            <h3 class="mb-3"><strong>Trail Information</strong></h3>
            <div class="row">
              <div class="col-12 col-md-6 d-flex flex-column">
                <span><i class="fa-solid fa-location-pin mb-2"></i> <%= @trail.location %></span>
                <span><i class="fa-regular fa-clock"></i>
                  <% hour = (@trail.duration / 60).to_i %>
                  <% minutes = (@trail.duration % 60).to_i %>
                  <% if minutes == 0 %>
                    <%= pluralize(hour, "hour") %>
                  <% elsif hour == 0 %>
                    <%= pluralize(minutes, "minute") %>
                  <% elsif minutes < 10 %>
                    <%= pluralize(hour, "hour") %> 0<%= minutes %> minutes
                  <% else %>
                    <%= pluralize(hour, "hour") %> <%= minutes %> minutes
                  <% end %>
                </span>
              </div>
              <div class="col-12 col-md-6 d-flex flex-column">
                <span><i class="fa-solid fa-arrows-left-right"></i> <%= @trail.distance %> km</span>
                <span><i class="fa-solid fa-person-hiking"></i> <%= @trail.difficulty %></span>
              </div>
            </div>
          </div>

          <div class="mb-4">
            <h3 class="mb-3"><strong>What You Will Need</strong></h3>
            <div class="row">
              <div class="col-12 col-md-6">
                <p class="mb-0"><i class="fa-regular fa-square"></i> Sunscreen</p>
                <p class="mb-0"><i class="fa-regular fa-square"></i> Water Bottle</p>
              </div>
              <div class="col-12 col-md-6">
                <p class="mb-0"><i class="fa-regular fa-square"></i> Mosquito Repellent</p>
              </div>
            </div>
          </div>

          <div>
            <h3 class="mb-3"><strong>Ratings & Reviews</strong></h3>
            <div class="d-flex align-items-center mb-3">
              <div class="d-flex me-2">
                <i style="color: yellow" class="fa-solid fa-star me-1"></i>
                <i style="color: yellow" class="fa-solid fa-star me-1"></i>
                <i style="color: yellow" class="fa-solid fa-star me-1"></i>
                <i style="color: yellow" class="fa-solid fa-star me-1"></i>
                <i style="color: yellow" class="fa-solid fa-star me-1"></i>
              </div>
              <a class="text-muted text-decoration-underline" href="#"> 4.8 (32 reviews)</a>
            </div>
            <div class="d-flex flex-wrap">
              <span class="tag bg-info rounded-pill px-2 py-1 me-2 mb-2">Beware Mosquitoes</span>
              <span class="tag bg-info rounded-pill px-2 py-1 me-2 mb-2">Muddy Paths</span>
              <span class="tag bg-info rounded-pill px-2 py-1 me-2 mb-2">Great Views</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row px-2">
    <img class="img-fluid custom-img-rounded px-0" src="https://static-maps.alltrails.com/production/at-map/22685628/trail-singapore-central-macritchie-reservoir-and-treetop-walk-loop-at-map-22685628-1656091103-414w200h-en-US-i-2.png" alt="">
  </div>
</section>
