<%# image carousel %>
<div id="carousel-background" class="mb-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-xl-7">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators mb-0">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <% if @trail.photos.size > 1 %>
              <% (@trail.photos.size - 1).times do |i| %>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i + 1 %>" aria-label="Slide <%= i + 2 %>"></button>
              <% end %>
            <% end %>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @trail.photos.first.key, class: "d-block w-100", id: :trail_img %>
            </div>
            <% @trail.photos[1..].each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, class: "d-block w-100", id: :trail_img %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cust-container border-bottom divider mb-3">
  <div class="row py-2">
    <%# buttons %>
    <div class="col-12 col-lg-3 pe-4">
      <%# back, bookmark, add friends %>
      <div class="d-flex justify-content-center align-items-center mb-1">
        <%= link_to trails_path, class: "text-decoration-none text-dark mx-2" do %>
          <div class="custom-btn-circle border border-2 border-dark d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-chevron-left"></i>
          </div>
        <% end %>

        <%# Bookmark icon %>
        <span class="text-decoration-none text-dark">
          <div class="d-flex justify-content-center align-items-center mx-2" data-controller="favourite" data-favourite-trail-value="<%= @trail.id %>">
            <%= link_to toggle_favorite_trail_path(@trail), data:{ turbo_method: :post, action: "click->favourite#toggleBookmarkIcon" }, class: "bookmark-show" do %>
              <% if user_signed_in? %>
                <% if current_user.favorited?(@trail) %>
                  <i class="fa-regular fa-bookmark fw-bold bookmark-show"></i>
                <% else %>
                  <i class="fa-regular fa-bookmark bookmark-show"></i>
                <% end %>
              <% else %>
                <i class="fa-regular fa-bookmark bookmark-show"></i>
              <% end %>
            <% end %>
          </div>
        </span>
      </div>

      <%# create trip %>
      <div id="add-trip" class="d-flex justify-content-center" data-controller="display-form">
        <button id="create-trip-btn" class="btn mt-2 mb-3" data-action="click->display-form#display">Create Trip</button>
        <%= simple_form_for [@trail, @trip], html: {data: {controller: 'flatpickr', turbo: false, display_form_target: "form"}, id: :date_card, class: "#{@trip.errors.any? ? "" : "d-none"} bg-white border p-3"} do |f| %>
          <%= f.label :date, 'Set a date/time', class: "d-block mb-1" %>
          <%= f.input_field :date, as: :string, id: :date_input, class: "mb-1", data: { flatpickr_target: "date" }, placeholder: "Click to select a date/time" %>
          <% if @trip.errors.any? %>
            <ul class="list-inline mb-0">
                <% trip.errors.full_messages.each do |message| %>
                    <li class="text-danger list-inline-item fs-6 mb-0 ms-1 mt-1"><%= message %></li>
                <% end %>
            </ul>
          <% end %>
          <%= f.button :submit, id: :submit_date_btn, class: "btn btn-primary mt-2 py-2 px-3" %>
        <% end %>
      </div>
    </div>

    <%# main body %>
    <div class="col-12 col-lg-9">
      <%# trail name %>
      <h1><strong><%= @trail.name %></strong></h1>
      <%# basic trail info %>
      <div class="mb-2">
        <span class="me-1 show-pg-font-size"><i class="fa-solid fa-location-pin"></i> <%= @trail.location %></span>
      </div>
      <div class="d-flex mb-3">
        <span class="me-5 show-pg-font-size">
          <i class="fa-regular fa-clock me-1"></i>
          <% hour = (@trail.duration / 60).to_i %>
          <% minutes = (@trail.duration % 60).to_i %>
          <% if minutes == 0 %>
            <%= pluralize(hour, "hour") %>
          <% elsif hour == 0 %>
            <%= pluralize(minutes, "minute") %>
          <% elsif minutes < 10 %>
            <%= pluralize(hour, "hour") %> 0<%= minutes %> minutes
          <% else %>
            <%= pluralize(hour, "hour") %> <%= minutes %> minutes
          <% end %>
        </span>
        <span class="me-5 show-pg-font-size"><i class="fa-solid fa-arrows-left-right me-1"></i> <%= @trail.distance %> km</span>
        <span class="show-pg-font-size"><i class="fa-solid fa-person-hiking me-1"></i> <%= @trail.difficulty %></span>
      </div>
      <%# description %>
      <p style="white-space: pre-line;" class="show-pg-font-size"><%= @trail.description %></p>
      <br>
      <%# weather forecast %>
      <h5 class="mb-3"><strong>Weather Forecast</strong></h5>
      <div class="d-flex flex-row mt-3 mb-3">
        <% @trailsforecast.each do |day| %>
          <div class="d-flex flex-column align-items-center me-4">
            <div>
            <%= day[:time].strftime('%A') %>
            </div>
            <div>
              <%= day[:time].strftime('%-d/%-m') %>
            </div>
              <img class="icon-trail" src="<%= day[:icon_url] %>" alt="">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# Reviews & Ratings %>
<div class="cust-container border-bottom divider mb-3">
  <div class="row py-2">
    <%# overall rating, tags %>
    <div class="col-12 col-lg-3 pe-4 mb-2">
      <h3 class="mb-3"><strong>Ratings & Reviews</strong></h3>
      <div class="d-flex align-items-center mb-3">
        <% unless @trail.reviews.empty? %>
          <div class="d-flex me-2">
            <% @trail.rating.floor.times do %>
              <i style="color: yellow" class="fa-solid fa-star me-1"></i>
            <% end %>
            <% if (@trail.rating - @trail.rating.floor) >= 0.3 && (@trail.rating - @trail.rating.floor) < 0.8 %>
              <i style="color: yellow" class="fa-solid fa-star-half me-1"></i>
            <% elsif (@trail.rating - @trail.rating.floor) >= 0.8 %>
              <i style="color: yellow" class="fa-solid fa-star me-1"></i>
            <% end %>
          </div>
          <a class="text-muted text-decoration-underline" href="#" data-bs-toggle="modal" data-bs-target="#allReviews">
            <%= sprintf('%.1f', @trail.rating) %> (<%= pluralize(@trail.reviews.count, 'review') %>)
          <% end %>
        </a>
      </div>
      <div class="d-flex flex-wrap">
        <% @trail.categories.each do |category| %>
          <span class="tag tag-item rounded-pill px-2 py-1 me-1 mb-2"><%= category.name %></span >
        <% end %>
      </div>
    </div>
    <%# reviews %>
    <div class="col-12 col-lg-9">
      <% if @trail.reviews.blank? %>
        <p>No reviews for this trail yet.</p>
      <% else %>
        <% @trail.reviews.reverse.first(3).each do |review| %>
          <%= render "reviews/reviewcard", review: review %>
        <% end %>
        <%# trigger modal to see all reviews (modal at bottom) %>
        <button type="button" class="btn text-muted text-decoration-underline" data-bs-toggle="modal" data-bs-target="#allReviews">
          See all reviews
        </button>
      <% end %>
    </div>
  </div>
</div>

<%# Trail Map %>
<% if @user_photos.size > 0 %>
  <div class="cust-container border-bottom divider mb-3">
<% else %>
  <div class="cust-container">
<% end %>
    <div class="row py-2">
      <div class="col-12 col-lg-3 pe-4">
        <h3 class="mb-3"><strong>Trail Map</strong></h3>
      </div>
      <div class="col-12 col-lg-9 mb-3">
        <div data-controller="map" data-map-coordinates-value="<%= @trail.coordinates %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" id="trail-map"></div>
      </div>
    </div>
  </div>

<%# Community Photos %>
<% if @user_photos.size > 0 %>
  <div class="cust-container">
    <div class="row py-2">
      <div class="col-12 col-lg-3 pe-4">
        <h3 class="mb-3"><strong>Other Hikers' Photos</strong></h3>
      </div>
      <div class="col-12 col-lg-9">
        <div class="trips-pictures" data-insert-pictures-target="grid" >
          <% @user_photos.each do |photo| %>
            <% idp = photo.blob_id %>
            <a class="image-container" type="button" data-bs-toggle="modal" data-bs-target='#showpictures<%= idp %>'>
              <%= cl_image_tag photo.key, width: 400, height: 400, crop: :fill, class: "trip-picture" %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%# Reviews modal %>
<div class="modal fade rounded-2" id="allReviews" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="allReviews" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable rounded-2">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title " id="staticBackdropLabel"></h1>
        <button type="button" class="btn-close border-bottom-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2><strong data-insert-in-list-target="count"><%= pluralize(@trail.reviews.count, 'review') %></strong></h2>
        <% @trail.reviews.reverse.each do |review| %>
          <%= render "reviews/reviewcard", review: review %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# Photos modal %>
<% @user_photos.each do |photo| %>
  <% idp = photo.blob_id %>
  <div class="modal" id='showpictures<%= idp %>' role="dialog" aria-labelledby='showpictures<%= idp %>'>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn-close border-bottom-0" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'trails/carousel', photo: photo %>
        </div>
      </div>
    </div>
  </div>
<% end %>
