<div class="review-form">
  <%= simple_form_for([@trip, @review], data: {insert_in_list_target: "form", action: "submit->insert-in-list#send"}) do |f| %>
    <%= f.input :rating,
                label: false,
                collection: (1..5).to_a, input_html: {data: {controller: "star-rating"}} %>
    <%= f.input :comment,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "COMMENT",
                input_html: { class: "review-label"} %>
    <%= f.association :categories, label: false, input_html: { multiple: true, placeholder: 'TAG YOUR EXPERIENCE', data: { controller: "tom-select", tom_select_options_value: {tags: true}}, class: "tag-form d-flex " } %>
    <%= f.button :submit, "SUBMIT REVIEW", class: "login-btn" %>
  <% end %>
</div>
