<!DOCTYPE html>
<html>
  <head>
    <title>TakeTrails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="https://cdn.rawgit.com/mfd/7c7a915eb31474cc8c6a65066a4c4dc3/raw/f0f2fb94c21dea904812a53e0eb6cf0bc87f3754/GTWalsheimPro.css">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <%= render "shared/flashes" %>
<div class="flex-wrapper">
  <div>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render 'shared/password' %>
  </div>
  <div>
    <%= render 'shared/footer' %>
  </div>
</div>
    <%= render 'shared/checklist' %>
  </body>
</html>
